:root{
    --primary-color:#333;
    --secondary-color:#555;
    --ovelay-color: rgba(0, 0, 0, 0.82);
}

/*BASIC CSS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Catamaran,sans-serif';
    line-height: 1.6;
    color: var(--primary-color);
    font-size: 1.1rem;
}

h1,h2,h3,h4{
    line-height: 1.3;
}

a{
    color: var(--secondary-color);
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

html{
    scroll-behavior: smooth;
}

/*UTLITIES*/

.container{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}


.btn{
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding:0.8rem 1.5rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s ease;

}

.btn:hover{
    background-color: var(--secondary-color);
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--ovelay-color);
}

/*NAVBAR*/

.navbar{
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    font-size: 2rem;
}

.navbar  .nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar  .nav-list a{
    margin: 0 1rem;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.navbar  .nav-list a:hover{
    color: #777;
}

.navbar .toggle-button{
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    justify-content: space-between;
    flex-direction: column;
    width: 30px;
    height: 22px;

}

.navbar .toggle-button .bar{
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    border-radius: 10px;
}


.toggle-button .bar:nth-child(3){
    width: 50%;
    margin-left: auto;
    transition: width 0.4s ease;
}

.toggle-button:hover .bar:nth-child(3){
    width: 100%;
    
}

/*SHOWCASE SECTION*/

.showcase{
    margin: 2rem 0;
}

.showcase .container{
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.showcase h1{
    font-size: 4rem;
    color: var(--primary-color);
}

.showcase-text p{
    margin: 1rem 0;
    font-size: 1.3rem;
}

.showcase img{
    border-radius: 40%;
}

/*ABOUT SECTION*/
.about{
    position: relative;
    background: url(./img/about-watch.jpg) no-repeat center center/cover;
    height: 600px;     
}

.about-inner{
    color: #fff;
    max-width: 860px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 5rem 1rem;
}

.about-inner h3{
    font-size: 2rem;
}

.about-inner h2{
    font-size: 5rem;
    margin-top: 1rem;
}

.about-inner p{
    margin-top: 1rem;
    font-size: 1.5rem;
}

/*GALLERY SECTION*/
.gallery .gallery-container {
    background-color: var(--secondary-color);
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(5, 1fr);
}

.gallery .gallery-container a:first-child {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.gallery .gallery-container a:nth-child(2){
    grid-column: 3 / 5;
}

.gallery .gallery-container img,
.gallery .gallery-container a{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all  0.5s ease;
}

/*LIGHTBOX*/
.lightbox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: var(--ovelay-color);

}

.lightbox img{
    width: 500px;
    max-width: 90%;
    margin-top: 5rem;
}

.lightbox:target{
    outline: none;
    display: block;
}

/*FOOTER*/

footer{
    background-color: var(--primary-color);
    color: #fff;
    padding: 4rem 0;
}

footer .container{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

footer .container > div{
    text-align: center;
}

footer h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer h3{
    margin-bottom: 0.7rem;
}

footer a{
    color: #ccc;
    line-height: 1.9;
}

footer a > i{
    background-color: var(--secondary-color);
    margin-right: 0.5rem;
}

.footer-message{
    padding: 1.6rem 0;
    display: block;
}

/*MEDIA QUERIES*/

@media (max-width:700px) {
    .navbar .container{
        flex-direction: column;
    }

    .navbar .nav-list{
        flex-direction: column;
        display: none;
    }

    .navbar .nav-list.active{
        display: flex;
        animation: fade-in 1s;
    } 

    .navbar .nav-list a{
        padding: 8px 0;
        display: block;
    }

    .navbar .toggle-button{
        display: flex;
    }

    .showcase .container{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .showcase .container div:first-child{
        order: 2;
    }

    .showcase .container div:nth-child(2){
        order: -1;
    }

    .showcase img{
        width: 80%;
        margin: auto;
    }

    .about-inner h3{
        font-size: 1.5rem;
    }

    .about-inner h2{
        font-size: 3rem;
    }

    .gallery .gallery-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery .gallery-container a:first-child {
        grid-row:  1 / 1;
        grid-column: 1 / 1;
    }

    .gallery .gallery-container a:nth-child(2) {
        grid-column: 2  / 4;
        grid-row: 2 / 2;
    }

    .gallery .gallery-container a:last-child{
        display: none;
    }

    footer{
        padding: 2rem 0;
    }

    footer .container{
        grid-template-columns: 1fr;
        text-align: center;
    }
    footer div:nth-child(2),
    footer div:nth-child(3){
        display: none;
    }

}


/*ANIMATIONS*/

@keyframes fade-in {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
